In [1]:
import tweepy
import re
import string
import nltk
from nltk import FreqDist
from nltk.tokenize import word_tokenize
from csv import reader

In [2]:
consumer_key = 'WIbMrSSW0BUeUx7aY1fcdaS4h'
consumer_secret='mRUi2zN6dMIjIJF5XicHPAGMSN3kKjxWlVv8NrOoCmzteU3T4S'
access_token = '1349380034700533764-mPojYykP7Cmk5SeKfJbN8O1RG7hVFx'
access_secret = 'FK1p1wqbzP8Hkj3ZsnOkPXs47lum9QTT6tAAyCiyTwmUt'

In [3]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)

In [4]:
# coding=utf-8
import tweepy
import pandas as pd
import csv  # Import csv

In [7]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.8-py2.py3-none-any.whl (244 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.8

WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\chandima samarakoon\appdata\local\programs\python\python37\python.exe -m pip install --upgrade pip' command.

In [8]:
import pandas as pd

read_file = pd.read_csv (r'aa.csv')
read_file.to_excel (r'ww.xlsx', index = None, header=True)

In [5]:
tweetsIds = []  # the list containing the tweet ids
tweets = []  # the list containing the tweets

search_words = "කලාකරු"
# opening the csv file  and getting the twitter id coloumns
# csvfile = open('Dataset.xlsx', encoding="utf-8")

readCSV = pd.read_excel(open('Dataset.xlsx')
for row in readCSV:
    if (row and row[1] != ''):
        tweetsIds.append(row[1])

       # print(tweetsIds)

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)
# create a dataframe  to append tweets information
tweets_df = pd.DataFrame(columns=['ID', 'FULL TEXT', 'CREATED AT','LIKE COUNT','FOLLOWERS COUNT','RETWEET COUNT',])

for tweet in tweepy.Cursor(api.search,
                           q=search_words,
                 lang="si", tweet_mode='extended').items():

    if (tweet.id_str not in tweetsIds) and ('RT @' not in           tweet.full_text) and (not tweet.retweeted):
        # create a dataframe from the existing information
        df = pd.DataFrame([[ tweet.id_str, tweet.full_text, tweet.created_at,tweet.favorite_count,tweet.user.followers_count,tweet.retweet_count]],
                          columns=['ID', 'FULL TEXT', 'CREATED AT','LIKE COUNT','FOLLOWERS COUNT','RETWEET COUNT'])

        # append it to the tweets_df
        tweets_df =  tweets_df.append(df , ignore_index=True)


print ( tweets_df)
with open('Single label dataset.csv', 'a', encoding="utf-8") as f:
    tweets_df.to_csv(f, header=f.tell() == 0)

SyntaxError: invalid syntax (<ipython-input-5-57cc023a4b8d>, line 9)

In [38]:
# with open('get_tweets.csv', 'r',encoding="utf-8") as file:
#     reader = csv.reader(file)
#     for row in reader:
#         print(row)

In [39]:
csvfile = open('Single label dataset.csv', encoding="utf-8")
lines= len(csvfile.readlines())
print(lines)

3211

In [43]:
data = pd.read_csv("Single label dataset.csv") 
data.head()

,Unnamed: 0,ID,FULL TEXT,CREATED AT,LIKE COUNT,FOLLOWERS COUNT,RETWEET COUNT,LABEL
0,0,1436326903552614405,ශ්‍රී ලංකාව හා දකුණු අප්‍රිකාව අතර අද(10) පැවැ...,2021-09-10 13:53:14,0,116,0,NaN
1,1,1436315945258012673,අද තරගයට ක්‍රීඩා කරන කන්ඩායම් දෙක. චන්දි ඉන්. ...,2021-09-10 13:09:41,3,1344,0,NaN
2,2,1436180401593020445,ක්‍රීඩාවෙන් ජාත්‍යන්තරය ජයගත් ඔබේ කතාව අනාගත ප...,2021-09-10 04:11:05,0,373,0,NaN
3,3,1436139990413557776,ඒසේනම් ප්‍රිය ක්‍රීඩා ලෝලී හිතවතුනි අද තමා දවස...,2021-09-10 01:30:30,5,88,0,NaN
4,4,1436037575492390917,වත්මන් ශ්‍රී ලංකා කණ්ඩායමට ලොකු ගමනක් යා හැකි ...,2021-09-09 18:43:32,7,7425,0,NaN