In [14]:
import tweepy
import re
import string
import nltk
from nltk import FreqDist
from nltk.tokenize import word_tokenize

In [15]:
consumer_key = 'WIbMrSSW0BUeUx7aY1fcdaS4h'
consumer_secret='mRUi2zN6dMIjIJF5XicHPAGMSN3kKjxWlVv8NrOoCmzteU3T4S'
access_token = '1349380034700533764-mPojYykP7Cmk5SeKfJbN8O1RG7hVFx'
access_secret = 'FK1p1wqbzP8Hkj3ZsnOkPXs47lum9QTT6tAAyCiyTwmUt'

In [16]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)

In [17]:
# coding=utf-8
import tweepy
import pandas as pd
import csv  # Import csv

In [19]:
tweetsIds = []  # the list containing the tweet ids
tweets = []  # the list containing the tweets

search_words = "සිනමා"
# opening the csv file  and getting the twitter id coloumns
csvfile = open('Single label dataset.csv', encoding="utf-8")

readCSV = csv.reader(csvfile, delimiter=',')
for row in readCSV:
    if (row and row[1] != ''):
        tweetsIds.append(row[1])

       # print(tweetsIds)

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)
# create a dataframe  to append tweets information
tweets_df = pd.DataFrame(columns=['ID', 'FULL TEXT', 'CREATED AT','LIKE COUNT','FOLLOWERS COUNT'])

for tweet in tweepy.Cursor(api.search,
                           q=search_words,
                 lang="si", tweet_mode='extended').items():

    if (tweet.id_str not in tweetsIds) and ('RT @' not in           tweet.full_text) and (not tweet.retweeted):
        # create a dataframe from the existing information
        df = pd.DataFrame([[ tweet.id_str, tweet.full_text, tweet.created_at,tweet.favorite_count,tweet.user.followers_count]],
                          columns=['ID', 'FULL TEXT', 'CREATED AT','LIKE COUNT','FOLLOWERS COUNT'])

        # append it to the tweets_df
        tweets_df =  tweets_df.append(df , ignore_index=True)


print ( tweets_df)
with open('Single label dataset.csv', 'a', encoding="utf-8") as f:
    tweets_df.to_csv(f, header=f.tell() == 0)

Empty DataFrame
Columns: [ID, FULL TEXT, CREATED AT, LIKE COUNT, FOLLOWERS COUNT]
Index: []

In [12]:
#!/usr/bin/env python
# -*- coding:utf-8 -*-

import codecs
data = pd.read_csv('Single label dataset.csv', header = None, encoding='utf-8', engine='python')
data.columns = ['','ID', 'FULL TEXT', 'CREATED AT','LIKE COUNT','FOLLOWERS COUNT','RETWEET COUNT','LABEL']
data = data.dropna()
data.head()

def clean_text(text):
    tokens = nltk.word_tokenize(text)
    regex = re.compile(u'[^\u0D80-\u0DFF]', re.UNICODE)
    tokens = [regex.sub('', w) for w in tokens]
    tokens = " ".join([c for c in tokens if c not in string.punctuation])
    return tokens

In [13]:
data['cleaned_msg'] = data['FULL TEXT'].apply(lambda x: clean_text(x))
data.head()

Empty DataFrame
Columns: [, ID, FULL TEXT, CREATED AT, LIKE COUNT, FOLLOWERS COUNT, RETWEET COUNT, LABEL, cleaned_msg]
Index: []

In [10]:
data.drop_duplicates(subset='cleaned_msg',keep='first',inplace = True)

Empty DataFrame
Columns: [, ID, FULL TEXT, CREATED AT, LIKE COUNT, FOLLOWERS COUNT, RETWEET COUNT, LABEL, cleaned_msg]
Index: []

In [11]:
data.head()

Empty DataFrame
Columns: [, ID, FULL TEXT, CREATED AT, LIKE COUNT, FOLLOWERS COUNT, RETWEET COUNT, LABEL, cleaned_msg]
Index: []